.env
frontend/node_modules
frontend/dist
venv
postgres_data
static_volume
media_volume
celery-beat-logs
.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyz
backend/transcribe_cli.egg-info/*

**/*.log
**/*.log.*
**/*.out
**/*.err
**/*.err.*

node_modules/
out/