.env
frontend/node_modules
frontend/dist
venv
postgres_data
static_volume
media_volume
celery-beat-logs
.DS_Store
backend/**/__pycache__/
backend/**/*.pyc
backend/core/__pycache__/*.pyc
backend/transcribe/__pycache__/*.pyc
backend/transcribe_cli.egg-info/*
**/__pycache__/
**/__pycache__/*
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyz

**/*.log
**/*.log.*
**/*.out
**/*.err
**/*.err.*

out/